.actions-button-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.actions-button-container button {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.actions-button-container img {
  width: 32px;
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;  background: #020b1de0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin-top: -100%;
}

.modal-content h3 {
  margin: 0;
}

.modal-content .modal-actions {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.modal-content .modal-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.modal-content .modal-actions .confirm-button {
  background-color: #a01c27;
  color: white;
}

.modal-content .modal-actions .cancel-button {
  background-color: #bfbfbf;
  color: black;
}

.modal-content .modal-actions .confirm-button:hover {
  background-color: #B92B36;
}

.modal-content .modal-actions .cancel-button:hover {
  background-color: #d9d9d9;
}
