.actions-button-container {
  display: flex;
  width: 105%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px -25px;
  z-index: 1;
}

.actions-button-container button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.actions-button-container img {
  width: 32px;
}

.actions-button-container .cloud-button,
.actions-button-container .local-button {
  display: flex;
  gap: 8px;
}