.Register {
  max-width: 100%;
  padding: 15px;
  margin: 0;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(6, 1fr) 0.1fr;
  gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "RegisterTitle RegisterSubmit"
    "RegisterName RegisterName"
    "RegisterEmail RegisterEmail"
    "RegisterPassword RegisterPassword"
    "RegisterCheckPassword RegisterCheckPassword"
    "RegisterChurch RegisterChurch"
    "RegisterErrorMessage RegisterErrorMessage";
}

.Register #RegisterTitle {
  grid-area: RegisterTitle;
}

.Register #RegisterName {
  grid-area: RegisterName;
}

.Register #RegisterEmail {
  grid-area: RegisterEmail;
}

.Register #RegisterPassword {
  grid-area: RegisterPassword;
}

.Register #RegisterCheckPassword {
  grid-area: RegisterCheckPassword;
}

.Register #RegisterChurch {
  grid-area: RegisterChurch;
  align-items: flex-start;
  height: 23px;
}

.Register #RegisterSubmit {
  grid-area: RegisterSubmit;
  margin: 0;
  font-size: 12px;
  padding: 5px 15px;
  height: 70%;
}

.Register #RegisterErrorMessage {
  grid-area: RegisterErrorMessage;
}

.Register label {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00031e36;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.Register label span {
  font-size: 12px;
  margin: 0 2px;
}

.Register #RegisterCheckPassword .register-check-password-span {
  display: flex;
  flex-direction: column;
  margin: 0 3px;
}

.Register #RegisterCheckPassword .register-check-password-span .small-text {
  font-size: 8px;
  margin: 0;
  margin-bottom: -7px;
}

.Register input {
  background: none;
  flex: 1;
  width: 100%;
  font-size: 14px;
}

.Register #RegisterChurch #RegisterChurchSelect {
  margin: 0;
  padding: 3px;
  background-color: #091d2dfa;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

.Register #RegisterErrorMessage {
  color: #e45757;
  font-size: 10px;
  display: block;
  width: 100%;
  height: 10px;
  margin: -4px 0 -5px;
}

.Register label button {
  background: none;
}

.Register img {
  width: 26px;
}

.Register .loader {
  width: 15px;
  height: 15px;
}
