.Menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  width: 80vw;
  height: 45px;
}

.Menu .hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  transform: scale(0.7);
  margin: -15px;
}

.Menu .hamburger svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.Menu #hamburger-button {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  cursor: pointer;
}
.Menu #hamburger-button:hover {
  filter: none;
}

.Menu .menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -5px;

  width: 75vw;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease, transform 0.5s cubic-bezier(1, 0, 0, 1);
  pointer-events: none;
  z-index: 1;

  background: linear-gradient(310deg, #020118ed 0%, #042339f6 90%); /* Fundo */
}

.Menu .menu-container.open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  box-shadow: 0px 4px 6px  #0606168c;
  border-radius: 0 0 5px 0;
  backdrop-filter: blur(3px);
}

.Menu .menu-container.close {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
}

.Menu .menu-item {
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    background: none;
    transition: background 0.2s ease-in-out;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.Menu .menu-item:hover {
  background: #ffffff06;
}

.Menu .menu-item.highlight {
  background: #1a1a7b46;
  border-radius: 0;
}

.Menu .menu-item img {
  width: 30px;
  height: 30px;
}

.Menu .menu-item span {
  font-size: 1rem;
  color: #e8eaf3;
  font-weight: 500;
  text-align: left;
}

.Menu .menu-item-title {
    display: flex;
    align-items: center;
}

.Menu .menu-item-title .loader {
  margin-left: 15px;
}

.Menu svg {
  height: 80px;
  position: absolute;
  width: 80px;
}

.Menu .plate {
  height: 80px;
  width: 80px;
}

.Menu .burger {
  filter: url(#gooeyness);
}

.Menu .x {
  transform: scale(0);
  transition: transform 400ms;
}

.Menu .line {
  fill: none;
  stroke: #e8eaf3;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.Menu .x .line {
  stroke-width: 5.5px;
}

.Menu .active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.Menu .active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

.Menu .plate5 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.Menu .plate5 .line1 {
  stroke-dasharray: 40 40;
}

.Menu .plate5 .line2 {
  stroke-dasharray: 21 39;
}

.Menu .plate5 .line3 {
  stroke-dasharray: 21 39;
}

.Menu .plate5 .line4 {
  stroke-dasharray: 40 40;
}

.Menu .plate5 .x {
  transition: transform 400ms 50ms;
}

.Menu .active.plate5 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.Menu .active.plate5 .line1 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}

.Menu .active.plate5 .line2 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}

.Menu .active.plate5 .line3 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}

.Menu .active.plate5 .line4 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}

.Menu .active.plate5 .x {
  transition: transform 400ms 50ms;
}

.password-icon-button {
  transition: filter 0.3s ease;
}

.password-icon-button.show {
  filter: brightness(1);
}

.password-icon-button.hide {
  filter: brightness(0.5);
}
