.screenshot-table-container {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  width: 200px;
  color: #ffffffde;
  background: linear-gradient(310deg, #020118 0%, #042339 90%);
  justify-content: center;
  padding: 3px;
}

.screenshot-table {
  display: flex;
  flex-direction: column;
  width: 98%;
  justify-content: center;
}

.screenshot-table > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 95%;
  height: fit-content;
  border-radius: 2px;
  background: linear-gradient(1deg, #6a7e9914 0%, #587c9f21 50%);
  padding: 5px;
  margin: 3px 0;
}

.screenshot-table header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.screenshot-table header > *,
.screenshot-table .details > * {
  flex: 1;
}

.screenshot-table .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-top: 3px;
}

.screenshot-table h3,
.screenshot-table h4,
.screenshot-table h5 {
  margin: 0;
  line-height: 1;
}
  
.screenshot-table h3 {
  font-size: 5px;
}

.screenshot-table h4 {
  font-size: 6.5px;
}

.screenshot-table h5 {
  font-size: 6px;
  font-weight: 400;
}

/* ------------ */

.screenshot-table table {
  font-size: 6.5px;
  background: linear-gradient(119deg, #e2e0f30d 20%, #e6deed0c 80%);
  width: 100%;
  border-radius: 2px;
  border-collapse: collapse;
  margin-bottom: 3px;
}

.screenshot-table table th, td {
  padding: 0px;
  border: none;
}

.screenshot-table table tr {
  display: flex;
  padding: 0.5px 0px;
}

.screenshot-table table tbody tr > *{
  align-content: center;
}

.screenshot-table table tbody tr:nth-child(odd) {
  background: linear-gradient(98deg, #9dc8c814 20%, #c3bfed20 80%, #c3bfed06 100%);
  border-radius: 4px 0px 0px 4px;
}

.screenshot-table table tr *:nth-child(1){
  width: 14%;
  text-align: center;
  margin-left: -2px;
}

.screenshot-table table tr *:nth-child(3){
  width: 16%;
  text-align: center;
}

.screenshot-table table tr *:nth-child(2),
.screenshot-table table tr *:nth-child(4){
  width: 40%;
}
