.planner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98lvw;
}

.planner-container .button-activity-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: auto;
}

.planner-container .button-activity {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: none;
}

input {
  background-color: #00031e20;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 4px;
}

.planner-container input[type=number] {
  width: 4vw;
  -moz-appearance: textfield;
  text-align: end;
}

.planner-container input[type=text] {
  width: 30lvw;
  flex: 4;
}

.planner-container input[type="time"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  width: 10lvw;
}


.planner-container input::-webkit-outer-spin-button,
.planner-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.planner-headers {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 90lvw;
  font-size: 3lvw;
}

.planner-headers h4 {
  margin: 2px 0px;
  flex: 6;
  text-align: center;
}

.planner-headers h4:first-of-type,
.planner-headers h4:nth-of-type(5) {
  flex: 1;
}
.planner-headers h4:nth-of-type(3) {
  flex: 2;
}

.planner-activity-row > * {
  height: 16px;
  width: 17vw;
  flex: 1;
}

.planner-activity-row {
  display: flex;
  gap: 2px;
  align-items: center;
}

.duration-input {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.planner-activity-row {
  transform: scale(0.9);
}

.planner-container input[type="time"] {
  background-color: red;
}

.planner-container input[type="time"]::-webkit-inner-spin-button,
.planner-container input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: none;
  background-color: red;
}


@media screen and (min-width: 700px) {
  .planner-container {
    width: 97vw;
  }

  .planner-headers {
    width: 97vw;
  }

  .planner-activity-row {
    transform: scale(1.1);
    gap: 10px;
    margin: 3px;
  }

  .planner-activity-row > * {
    width: auto;
  }

  .duration-input {
    width: auto;
  }

  .planner-container input[type=number] {
    width: 2vw;
  }
}