.planner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98lvw;
}

.planner-container .button-activity-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: auto;
}

.planner-container .button-activity {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: none;
}

input {
  background-color: #00031e20;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 4px;
}

.planner-container input[type=number] {
  width: 4vw;
  -moz-appearance: textfield;
  text-align: end;
}

.planner-container input[type=text] {
  width: 30lvw;
  flex: 4;
}

.planner-container input[type="time"] {
  -webkit-appearance: none; /* Remove estilos padrão no Chrome */
  -moz-appearance: none;    /* Remove estilos padrão no Firefox */
  appearance: none;         /* Remove estilos padrão */
  
  text-align: center;       /* Centraliza o texto */
  width: auto;              /* Ajuste a largura conforme necessário */
  padding: 0;               /* Remove qualquer espaçamento interno */
  margin: 0;                /* Remove margens extras */
  font-size: 16px;          /* Ajuste o tamanho da fonte */
  border: 1px solid #ccc;   /* Estilo básico de borda */
  height: 2.5rem;           /* Define uma altura consistente */
}

.planner-container input[type="time"]::-webkit-calendar-picker-indicator,
.planner-container input[type="time"]::-webkit-inner-spin-button {
  display: none;            /* Remove ícones do relógio e setas */
  -webkit-appearance: none;
}

.planner-container input[type="time"]::-webkit-clear-button {
  display: none;            /* Remove botão de limpar, se houver */
}

/* Remove espaçamento interno do Chrome */
.planner-container input[type="time"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.planner-headers {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 90lvw;
  font-size: 3lvw;
}

.planner-headers h4 {
  margin: 2px 0px;
  flex: 6;
  text-align: center;
}

.planner-headers h4:first-of-type,
.planner-headers h4:nth-of-type(5) {
  flex: 1;
}
.planner-headers h4:nth-of-type(3) {
  flex: 2;
}

.planner-activity-row > * {
  height: 16px;
  width: 17vw;
  flex: 1;
}

.planner-activity-row {
  display: flex;
  gap: 2px;
  align-items: center;
}

.duration-input {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.planner-activity-row {
  transform: scale(0.9);
}

@media screen and (min-width: 700px) {
  .planner-container {
    width: 97vw;
  }

  .planner-headers {
    width: 97vw;
  }

  .planner-activity-row {
    transform: scale(1.1);
    gap: 10px;
    margin: 3px;
  }

  .planner-activity-row > * {
    width: auto;
  }

  .duration-input {
    width: auto;
  }

  .planner-container input[type=number] {
    width: 2vw;
  }
}