.UserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserInfo .user-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
  background: linear-gradient(90deg, #031E36 0%, #02132A 90%, #02132a00 100%);
  width: 100%;
}

.UserInfo button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.UserInfo img {
  width: 32px;
}

.UserInfo .user-info {
  display: flex;
  background: linear-gradient(90deg, #031E36 0%, #02132A 100%);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  pointer-events: none;
  margin-top: 5px;
}

.UserInfo .user-info.show {
  opacity: 1;
  pointer-events: auto;
}

.UserInfo .user-info.hide {
  opacity: 0;
  pointer-events: none;
}
