.UserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.UserInfo .user-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
  background: linear-gradient(90deg, #031E36 0%, #02132a 92%, #02132a00 100%);
  width: 100%;
}

.UserInfo button {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.UserInfo img {
  width: 32px;
}

.UserInfo .user-info {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logOut user_name"
    "logOut user_email"
    "logOut user_church";
  align-items: center;
  background: linear-gradient(90deg, #031E36 0%, #02132A 100%);
  padding: 5px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  pointer-events: none;
  margin-top: 5px;
  width: 100%;
}

.UserInfo .user-info.show {
  opacity: 1;
  pointer-events: auto;
}

.UserInfo .user-info.hide {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.UserInfo p {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.UserInfo .logOut {
  grid-area: logOut;
}

.UserInfo .user_name {
  grid-area: user_name;
  margin: 0;
  padding: 0;
}

.UserInfo .user_email {
  grid-area: user_email;
  margin: 0;
  padding: 0;
}

.UserInfo .user_church {
  grid-area: user_church;
  margin: 0;
  padding: 0;
}
