.Feedback {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px #0000001f;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  background: linear-gradient(310deg, #020118df 0%, #042339f1 90%); /* Fundo */
  padding: 20px;
  border: 1px solid #03001f;
  width: 70vw;
  position: absolute;
  top: 50px;
  left: -54%;
  transform: translateX(50%);
}

.Feedback h2 {
  margin: 0;
}

.Feedback .feedback-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr, 0.1fr, 0.1fr;
  gap: 10px 10%;
  grid-auto-flow: row;
  grid-template-areas:
    "FeedbackTextarea FeedbackTextarea"
    "FeedbackFileLabel FeedbackSubmit"
    "FeedbackImages FeedbackImages";
  width: 100%;
}

.Feedback .feedback-textarea {
  grid-area: FeedbackTextarea;
  width: 95%;
  height: 100px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #f6fcff;
  color: #03001f;
  resize: vertical;
}

.Feedback .feedback-submit,
.Feedback .feedback-file-label {
  background: linear-gradient(128deg, #365387bd 0%, #1d3a5a 50%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: filter 0.2s ease;

  font-size: 14px;
  padding: 7px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Feedback .feedback-file-input {
  display: none;
}

.Feedback .feedback-file-label {
  grid-area: FeedbackFileLabel;
}

.Feedback .feedback-submit {
  grid-area: FeedbackSubmit;
}

.Feedback .feedback-file-label:hover {
  filter: brightness(1.2);
}

.Feedback .feedback-images-container {
  grid-area: FeedbackImages;
}

.Feedback .feedback-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.Feedback .feedback-images button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 22.8%;
}

.Feedback .feedback-images img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}