#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  width: 92vw;
}

.download-button{
  margin-top: 10px;
}

.banner, .info {
  position: absolute;
}

.banner{
  width: 400px;
  height: 400px;
  background-color: #242424;
}

.info {
  z-index: -1;
}