#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92vw;
}

.download-button{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 10px;
}

.info {
  position: absolute;
  z-index: -1;
}

.hidden {
  position: absolute;
  top: 10px;
  opacity: 0%;
  border: none;
}

.main label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px;
  width: 30vw;
  justify-content: space-evenly;
}

.main label input{
  flex-grow: 1;
  font-size: 14px;
}

label > h4 {
  margin: 0;
}

.cloud-button {
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main label {
    width: 80vw;
  }
  .main label input {
    flex-grow: 0;
  }
}