#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92vw;
}

.download-button{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 7px 15px;
  background: linear-gradient(128deg, #365387bd 0%, #1d3a5a 50%);
  border-radius: 7px;
  border: none;
}

.info {
  position: absolute;
  z-index: -1;
}

.hidden {
  position: absolute;
  top: 10px;
  opacity: 0%;
  border: none;
}

.main label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
  width: 30vw;
  justify-content: space-evenly;
}

.main label input{
  flex-grow: 1;
  font-size: 16px;
}

label > h4 {
  margin: 0;
}

#worship-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

#worship-title-container h3 {
  margin: -2px;
}

#worship-title-container input {
  text-align: center;
}

@media (max-width: 768px) {
  .main label {
    width: 80vw;
  }

  .main label input {
    flex-grow: 0;
  }
}