.WorshipForm {
  width: 88lvw;
  display: grid;
  align-items: center;
  justify-items: start;
  row-gap: 5px;
  background-color: #04040d18;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px #54545440;
  grid-template-areas:
    "WorshipFormChurchName WorshipFormChurchName"
    "WorshipFormWorshipTitle WorshipFormWorshipTitle"
    "WorshipFormDate WorshipFormMinister"
}

.WorshipForm #WorshipFormChurchName {
  grid-area: WorshipFormChurchName;
}

.WorshipForm #WorshipFormWorshipTitle {
  grid-area: WorshipFormWorshipTitle;
}

.WorshipForm #WorshipFormDate {
  max-width: calc(92vw / 2);
  grid-area: WorshipFormDate;
}

.WorshipForm #WorshipFormMinister {
  max-width: calc(92vw / 2);
  grid-area: WorshipFormMinister;
}

.WorshipForm label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 90vw;
  height: 100%;
}

.WorshipForm label input{
  flex-grow: 1;
  font-size: 16px;
  background-color: #ffffff00;
  width: 50%;
}

.WorshipForm label > h4 {
  margin: 0;
  font-size: 14px;
}

.WorshipForm #churchNameInput {
  font-size: 18px;
  font-weight: bold;
}

